.movieAndButtonContainer {
  padding: 50px 0;
  width: 70vw;
  min-width: 637px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movieName {
  font-size: 3rem;
}

.movieAndButtonContainer button {
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}
